@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap");

body {
  font-family: "Life Savers", serif;
  font-weight: bold;
  font-size: 1.4em;
}

select,
input {
  font-family: "Life Savers", serif;
  font-weight: bold;
  font-size: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ranchers", fantasy;
  font-weight: 400;
}

/**
 * This is a common style for code.
 *
 */
code {
  background-color: lightblue;
  border-radius: 0.3em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: blue;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 85%;
}

a:visited {
  color: #c000c0;
}

@property --rotation {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0turn;
}

@property --x-offset {
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}

@property --y-offset {
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}

#container1 {
  perspective: 224px;
  position: absolute;
  transform-style: preserve-3d;
  top: 50vh;
  left: 50vw;
  perspective-origin: 0 0;
}

.tube-side {
  background-color: red;
  text-align: center;
  position: absolute;
  --rotation: 5deg;
  --width: 5vmin;
  width: calc(1px + var(--width));
  height: 900px;
  left: calc(var(--width) / -2);
  transform-origin: center top;
  transform: rotateZ(var(--rotation)) translateY(-50vmin) rotateX(-90deg);
  backface-visibility: hidden; /* Prevents flicker */
  outline: 1px solid transparent; /* Forces GPU layer */
  white-space: pre-line;
  background-image: url(./vite.svg);
  background-position-x: calc(var(--x-offset) - var(--n) * var(--width));
  background-position-y: var(--y-offset);
  background-size: 150px 175px;
  animation: background 5s 0s infinite alternate;
}

/* Fast.  Pegged at 60fps. */
@keyframes bg1 {
  0% {
    background-size: 150px 175px;
  }
  100% {
    background-size: 150px 275px;
  }
}

/* Slow.  Less than 30fps, varying a lot. */
@keyframes bg2 {
  0%,
  10% {
    background-size: 150px 175px;
  }
  30%,
  50% {
    background-size: 150px 275px;
  }
  70%,
  100% {
    background-size: 300px 275px;
  }
}

/* Fast.  60fps, with a few instances of 58. */
@keyframes bg3 {
  0% {
    background-size: 150px 175px;
  }
  10% {
    background-size: 150px 175.01px;
  }
  30% {
    background-size: 150px 274.9px;
  }
  50% {
    background-size: 150px 275px;
  }
  70% {
    background-size: 299.9px 275px;
  }
  100% {
    background-size: 300px 275px;
  }
}

/* Slow!  Less than 30fps, varying a lot. */
@keyframes background {
  0%,
  10% {
    --x-offset: 0;
    --y-offset: 0;
  }
  30%,
  50% {
    --x-offset: 150px;
    --y-offset: 0;
  }
  70%,
  100% {
    --x-offset: 150px;
    --y-offset: 175px;
  }
}

@keyframes background-opt {
  0% {
    --x-offset: 0;
    --y-offset: 0;
  }
  50% {
    --x-offset: 150px;
    --y-offset: 0;
  }
  100% {
    --x-offset: 150px;
    --y-offset: 175px;
  }
}
